@charset "UTF-8";
/*================= CONTENTS ==================

	1: universal reset

============================================== */

/*============================================================
	1: universal reset
============================================================*/
html,body{
	margin:0;
	padding:0;
}

body{
	width:100%;
}

#wrapper{
	width:1000px;
	margin:0 auto;
}


/*============================================================
	2: header
============================================================*/

/*============================================================
	1: footer
============================================================*/

